.github-icon {
    color: black;
    font-size: 1.5em;
}

.github-icon:hover {
    color: grey;
}

.dark-mode-button {
    color: black;
    cursor: pointer;
}

.dark-mode-button:hover {
    border-bottom: 1px solid black;
}

.dark-mode .github-icon:hover {
    color: white;
}

.dark-mode .dark-mode-button {
    color: white;
}

.dark-mode .dark-mode-button:hover {
    border-bottom: 1px solid white;
}
